name: CI

on: pull_request

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3

      - uses: sdkman/sdkman-action@master
        with:
          candidate: gradle
          version: 7.4.2

      - name: Install Kotlin
        run: |
          curl -o kotlin-compiler.zip -L https://github.com/JetBrains/kotlin/releases/download/v1.7.0/kotlin-compiler-1.7.0.zip
          
          if [[ "$OSTYPE" != "darwin"* ]]
          then
            sudo chmod -R a+rwx /usr/local/
            
            unzip -d /usr/local/bin kotlin-compiler.zip
            echo "/usr/local/bin/kotlinc/bin" >> $GITHUB_PATH
            rm -rf kotlin-compiler.zip
          fi
        
      - uses: actions/setup-node@v4
        with:
          node-version: '14'

      - name: Install libncurses5
        run: |
          if [[ "$OSTYPE" == "darwin"* ]]
          then
            brew install ncurses
          else
            sudo apt-get install libncurses5
          fi

      - name: Install Danger JS
        run: npm install -g danger
       
      - name: Install Danger Kotlin
        run: make install
         
      - name: Run tests
        run: ./gradlew danger-kotlin-library:test

      - name: Install Plugin Installer
        run: ./gradlew danger-plugin-installer:publishToMavenLocal

      - name: Build and Install Sample Plugin
        run: |
          cd danger-kotlin-sample-plugin
          gradle wrapper
          ./gradlew build
          ./gradlew installDangerPlugin
          cd ..
      
      - name: Run Danger-Kotlin
        run: DEBUG='*' danger-kotlin ci --dangerfile Dangerfile_ci.df.kts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
